<div class="row">
    <div class="col-12">
        <!--Material textarea-->
        <div class="form-group mt-3">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="settings">
            </textarea>
          </div>
    </div>
    <div class="col-12 text-center">
        <button type="button" mdbTooltip="Salva" placement="right" class="btn btn-success px-3 ml-2" (click)="salva()">
            <em class="far fa-save fa"></em>
        </button>
     </div>

</div>