<p>test works!</p>
<div class="w-50">
    <app-accordion [title]="'Test Accordion'" [contentHidden]="false">
        <div class="row w-100">
            <div class="col-6">ciao</div>
            <div class="col-6">ciao2</div>
        </div>
        <div class="row w-100">
            <div class="col-6">ciao</div>
            <div class="col-6">ciao2</div>
        </div>
        <div class="row w-100">
            <div class="col-6">ciao</div>
            <div class="col-6">ciao2</div>
        </div>
    </app-accordion>
</div>
