<div class="row justify-content-center">
        
        <div class="col m-2 pointer-element">
                <img src="../../../assets/images/AnubisFace.PNG" class="rounded-circle img-fluid z-depth-1" alt="1" (click)="reloadAnubis()">

                <!--button type="button" mdbTooltip="Anubis" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active">
                </button>-->
        </div>
    <div class="col m-2">
            <button type="button" mdbTooltip="Home" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active" routerLink="/Home">
                <i class="fas fa-home fa-2x" ></i>
            </button>
    </div>
    <div class="col m-2">
            <button type="button" mdbTooltip="Console" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active" routerLink="/Console">
                    <i class="fas fa-pen fa-2x" ></i>
            </button>
    </div>
    <div class="col m-2">
            <button type="button" mdbTooltip="Settings" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active" routerLink="/Settings">
                    <i class="fas fa-wrench fa-2x" ></i>
            </button>
    </div>
    <div class="col m-2">
                <button type="button" mdbTooltip="" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active" (click)="logoutClick()">
                        <i class="fas fa-sign-out-alt fa-2x white-text"></i>
                </button>
        </div>

        <div class="col m-2">
                        <h3><b>{{username}}</b></h3>
                </div>
</div>