<div class="row">
    <div class="col m-2">
            <button type="button" mdbTooltip="Home" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active" routerLink="/Home">
                <i class="fas fa-home fa-2x" ></i>
            </button>
    </div>
    <div class="col m-2">
            <button type="button" mdbTooltip="Console" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active" routerLink="/Console">
                    <i class="fas fa-pen fa-2x" ></i>
            </button>
    </div>
    <div class="col m-2">
            <button type="button" mdbTooltip="Settings" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active" routerLink="/Settings">
                    <i class="fas fa-wrench fa-2x" ></i>
            </button>
    </div>
</div>