<div class="row justify-content-center">
        
        <div class="col m-2 pointer-element text-center">
                <img src="assets/images/AnubisFace.PNG" class="rounded-circle img-fluid z-depth-1" alt="1" (click)="reloadAnubis()">

        </div>
    <div class="col m-2 text-center">
            <button type="button" mdbTooltip="Home" placement="right" class="btn btn-warning px-3 rounded-circle" routerLinkActive="active" routerLink="/Home">
                <em class="fas fa-home fa-1_1x" ></em>
            </button>
    </div>

    <div class="col m-2 text-center">
            <button type="button" mdbTooltip="Settings" placement="right" class="btn btn-primary px-3 rounded-circle" routerLinkActive="active" routerLink="/Settings">
                    <em class="fas fa-wrench fa-1_1x" ></em>
            </button>
    </div>
    <div class="col m-2 text-center">
                <button type="button" mdbTooltip="Logout" placement="right" class="btn btn-danger px-3 rounded-circle" routerLinkActive="active" (click)="logoutClick()">
                        <em class="fas fa-sign-out-alt fa-1_1x white-text"></em>
                </button>
        </div>

        <div class="col m-2 text-center">
                        <h4><strong>{{username}}</strong></h4>
                </div>
</div>