<div class="row w-100 mt-4">
            <div class="col-12">
                <div class="row align-items-center">
                    <div class="col-4 text-center">
                        <h4><strong>Custom</strong></h4>
                    </div>
                    <div class="col-4">
                        <div class="md-form mb-0">
                            <input mdbInput [(ngModel)]="sizeCustom" type="text" id="form58" class="form-control form-control-sm">
                            <label for="form58">Size custom groups</label>
                          </div>
                    </div>
                    <div class="col-4 text-center">
                        <mdb-checkbox [checked]="expandedCustom" #customCheck>Expanded</mdb-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-12">

                <div class="row align-items-center">
                    <div class="col-4 text-center">
                        <h4><strong>Generali</strong></h4>
                    </div>
                    <div class="col-4">
                        <div class="md-form">
                            <input mdbInput [(ngModel)]="sizeGeneral" type="text" id="form59" class="form-control form-control-sm">
                            <label for="form59">Size general groups</label>
                          </div>
                    </div>
                    <div class="col-4 text-center">
                        <mdb-checkbox [checked]="expandedGeneral" #generalCheck>Expanded</mdb-checkbox>
                    </div>
                </div>
            </div>
        
            <div class="col-12 text-center">
                <button type="button" mdbTooltip="Salva" placement="right" class="btn btn-success px-3 ml-2" (click)="salvaSize()">
                    <em class="far fa-save fa"></em>
                </button>
                <button type="button" mdbTooltip="Reset" placement="right" class="btn btn-danger px-3 ml-2" (click)="resetSettings()">
                    <em class="fas fa-undo"></em>
                </button>
            </div>
</div>

