<div class="row justify-content-center mt-3">
    <div class="col m-2 text-center">
        <button type="button" mdbTooltip="Groups" placement="right" class="btn btn-primary px-3 rounded-circle" routerLinkActive="active" routerLink="/Settings/Groups">
            <em class="fas fa-bars fa-1_1x" ></em>
        </button>
    </div>
    <div class="col m-2 text-center">
        <button type="button" mdbTooltip="Sizing" placement="right" class="btn btn-primary px-3 rounded-circle" routerLinkActive="active" routerLink="/Settings/Sizing">
            <em class="fas fa-crop-alt fa-1_1x" ></em>
        </button>
    </div>
    <div class="col m-2 text-center">
        <button type="button" mdbTooltip="Download/Upload" placement="right" class="btn btn-primary px-3 rounded-circle" routerLinkActive="active" routerLink="/Settings/UpDown">
            <em class="fas fa-file-upload fa-1_1x" ></em>
        </button>
    </div>
</div>