<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Navbar brand 
    <a class="navbar-brand" href="#">Anubis</a>-->
      
    <a style="
    font-family: Papyrus, fantasy;  
    color: gold; 
    margin-bottom: 0;
    font-size: 40px;
    margin-right: 20px;"
    routerLink="/Home">Anubis</a>

    <div class="collapse navbar-collapse ml-3" id="navbarNav">
      <ul class="nav navbar-nav" routerLinkActive="active" route>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/Console">Console</a>
        </li>
      </ul>
    </div>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse d-flex justify-content-end" id="basicExampleNav">
  
      <form class="form-inline my-2 my-lg-0 ml-auto">
        <div class="md-form my-0">
          <input [formControl]="searchInput" class="form-control  mr-sm-2" type="text" style="color: white" placeholder="Search" aria-label="Search">
        </div>
      </form>

      <a><i class="fas fa-sign-out-alt fa-2x white-text" (click)=logoutClick()></i></a>
    </div>
    
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
  