<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Navbar brand 
    <a class="navbar-brand" href="#">Anubis</a>-->
      
    <a style="
    color: white;
    font-size: 40px; 
    border-right-style: solid; 
    border-right-width: 2px;
    padding-right: 20px;
    border-right-color: white;" routerLink="/Home"><b>Anubis</b></a>

    <div class="collapse navbar-collapse ml-3" id="navbarNav">
      <ul class="nav navbar-nav" routerLinkActive="active" route>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item d-none" routerLinkActive="active">
          <a class="nav-link" routerLink="/Console">Console</a>
        </li>
      </ul>
    </div>

    <div class="btn-group mx-4" mdbDropdown>
        <mdb-icon fas icon="user" size="2x"  mdbDropdownToggle class="waves-effect white-text"
                  mdbWavesEffect></mdb-icon>
        <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item align-items-center" (click)="logoutClick()">
              Logout<i class="fas fa-sign-out-alt fa-1x float-right" (click)=logoutClick()></i>
            </a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item disabled">
            <b>{{username}}</b>
            <i class="fas fa-user fa-1x float-right" (click)=logoutClick()></i>
          </a>
        </div>
    </div>

    <form class="form-inline my-2 my-lg-0 ml-auto">
        <div class="md-form my-0">
          <input [formControl]="searchInput" class="form-control  mr-sm-2" type="text" style="color: white" placeholder="Search" aria-label="Search">
        </div>
      </form>
  </nav>
  <!--/.Navbar-->