<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <a class="ml-2"
    style="font-family: Papyrus, fantasy;  
    color: gold;
    font-size: 40px;" (click)="reloadAnubis()"><b> A</b></a>

    <form class="form-inline my-2 my-lg-0 ml-auto" style="padding-right: 20px;">
      <div class="md-form">
        <input [formControl]="searchInput" class="form-control  mr-sm-2" type="text" style="color: white" placeholder="Search" aria-label="Search">
      </div>
    </form>

    <div class="mr-2" style="color: white; 
    border-left-style: solid; 
    border-left-width: 2px;
    padding-left: 20px;
    border-left-color: white;">
      <h3 >{{username}}</h3>
    </div>
  </nav>
  <!--/.Navbar-->