<div class="row w-100">
    <div *ngIf="containerList != null && containerList.length > 0;else noContainer" class="col-4">
            <div class="row">
                <div class="col-12 mt-3">
                        <app-clickable-list 
                        (svuotaListaGruppi)="onSvuotaListaGruppi()"
                        (clickedElement)="onClickedElement($event)" 
                        (newElement)="onNewElement($event)" 
                        [placeholderNew]="'Inserisci gruppo'"
                        [stringsList]="groupsNames">
                    </app-clickable-list>
                </div>
            </div>
    </div>
    <ng-template #noContainer>
        <p>Errore nel recupero dei container, ricaricare l'applicazione </p>
    </ng-template>
    <div class="col-8 border-left" *ngIf="selectedElement!=null">
        <app-checkbox-list 
        (gruppiSalvati)="onSalvaGruppi($event)"
        (gruppiSalvatiDopoRemove)="onRemoveGruppo($event)"
        [allGroups]="groups" 
        [allContainers]="containerList"
        [selectedContainers]="selectedContainers"
        [blockedContainers]="blockedContainers" 
        [selectedGroup]="selectedElement" ></app-checkbox-list>
    </div>
    
</div>