<div class="row align-items-center" 
    (click)="onClickItem()"
    (mouseover)="hover=true" 
    (mouseleave)="hover=false"
    [ngStyle]="{backgroundColor: hover==true  ? 'lightgrey' : 'white' }">
    <div class="col-md-7 text-center border-right pointer-element">
        <p class="mt-3 font-weight-bold">{{container.name}}</p>
    </div>
    <div class="col-md-3 text-center border-right pointer-element">
        <h4 style="margin-top: 16px; margin-bottom: 16px;"><span class="badge badge-pill" [ngClass]="{'badge-success': isStopVisible ,'badge-danger': isPlayVisible}">{{container.status}}</span></h4>
    </div>
    <div class="col-md-2" (mouseover)=stopPropagationHover($event) (click)=stopPropagationClick($event)>
            <div *ngIf="isPlayVisible" class="text-center">
                    <button mdbBtn (click)="buttonActionClick()"  class="btn-sm btn-outline-success" type="button" mdbWavesEffect disabled >
                        <mdb-icon fas icon="play" ></mdb-icon>
                    </button>
            </div>
            <div *ngIf="isStopVisible" class="text-center">
                    <button mdbBtn (click)="buttonActionClick()" class="btn-sm btn-outline-danger" type="button" mdbWavesEffect disabled >
                            <mdb-icon fas icon="stop" ></mdb-icon>
                        </button>
            </div>
    </div>
</div>
