<div class="container mt-3 w-100">
        <div *ngIf="!isLoading; else notLoading">
                <!-- Custom -->
                <div *ngIf="groupsToDisplay.size>0">
                        <div *ngFor="let group of groupsToDisplay | keyvalue">
                                <div class="row align-items-center pointer-element" (click)="groupsVisibile.set(group.key, !groupsVisibile.get(group.key))">
                                        <h2>{{group.key}}</h2>
                                        <i *ngIf="!groupsVisibile.get(group.key); else minus" class="fas fa-plus black-text ml-2"></i>
                                        <ng-template #minus>
                                                <i class="fas fa-minus black-text ml-2"></i>
                                        </ng-template>
                                </div>
                                <div [hidden]="!groupsVisibile.get(group.key)" *ngFor="let item of groupsToDisplay.get(group.key)">   
                                        <app-container-list-item (newState)=onNewContainerState($event) [container]="item"></app-container-list-item>
                                </div>
                        </div>
                </div>    
                
                <!-- Generali -->
                <div *ngIf="generalContainers.length>0">
                        <div class="row align-items-center pointer-element" (click)="showGeneral=!showGeneral"> 
                                <h2>Generali</h2>
                                <i *ngIf="!showGeneral; else minus" class="fas fa-plus black-text ml-2"></i>
                                <ng-template #minus>
                                        <i class="fas fa-minus black-text ml-2"></i>
                                </ng-template>
                        </div>
                        <div *ngIf="showGeneral">
                                <div *ngFor="let item of generalContainers">   
                                        <app-container-list-item (newState)=onNewContainerState($event) [container]="item"></app-container-list-item>
                                </div>
                        </div>
                </div>     
        </div>
        <ng-template #notLoading>
                        <div class="row h-100 justify-content-center align-items-center">
                                        <div class="col-3 text-center">
                                                <app-loader [viewText]="false"></app-loader>
                                    </div>
                                </div>
        </ng-template>       
</div>

    
    