<div class="h-100 " *ngIf="isLoading; else notLoading">
    <div class="row h-100 justify-content-center align-items-center">
            <div class="col-3 text-center" >
                <app-loader></app-loader>
        </div>
    </div>
</div>
<ng-template #notLoading>
    <div class="row">
        <div class="col-12">
            <form class="justify-content-center form-inline ml-auto">
                <div class="md-form">
                    <input [formControl]="searchInput" class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <div class="col-12">
            <app-container-list [containerList]="containerListFiltered"></app-container-list>
        </div>
    </div>
</ng-template>