<div class="h-100 " *ngIf="isLoading; else notLoading">
    <div class="row h-100 justify-content-center align-items-center">
            <div class="col-3 text-center" >
                <app-loader></app-loader>
        </div>
    </div>
</div>
<ng-template #notLoading>
    <div class="row">
        <div class="col-12">
            <form class="justify-content-center form-inline ml-auto">
                <div class="w-50 border border-light  rounded-pill mt-2"
                [ngClass]="{'z-depth-1': divHover}"
                (mouseenter)="divHover=!divHover"
                (mouseleave)="divHover=!divHover">
                    <div class="md-form w-100 text-center m-0">
                        <input [formControl]="searchInput" class="form-control w-75" type="text" placeholder="Search" aria-label="Search">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-12">
            <app-container-list [containerList]="containerListFiltered"></app-container-list>
        </div>
    </div>
</ng-template>