/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

.pointer-element{
    cursor: pointer;
}

.overflow-y-300 {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }



