<div class="row">
    <div class="col-12 pr-0">
        <div class="row justify-content-center align-items-center">
                <div class="col-9">
                    <h2>{{selectedGroup.name}}</h2>
                </div>
                <div class="col-3 text-right">
                    <button type="button" mdbTooltip="Salva" placement="right" class="btn btn-success px-3 ml-2" (click)="salvaGruppo()">
                        <em class="far fa-save fa"></em>
                    </button>
                    <button type="button" mdbTooltip="Elimina" placement="right" class="btn btn-danger px-3" (click)="eliminaGruppo()">
                        <em class="fas fa-trash-alt fa"></em>
                    </button>
                </div>
        </div>
    </div>
    <div class="col-12">
        <mdb-checkbox 
        *ngFor="let item of allContainers" 
        (change)="onChangeCheck($event, item)"
        [checked]="selectedContainers.includes(item.name)" 
        [disabled]="blockedContainers.includes(item.name)"
        [default]="true">{{item.name}}</mdb-checkbox>
    </div>
</div>